{% extends 'base.html.twig' %}

{% block title %}Edit Diary3{% endblock %}

{% block body %}
    <h1>Edit Diary3</h1>

    {{ include('diary3/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_diary3_index') }}">back to list</a>

    {{ include('diary3/_delete_form.html.twig') }}
{% endblock %}
