{% extends 'base.html.twig' %}

{% block title %}New Diary3{% endblock %}

{% block body %}
    <h1>Create new Diary3</h1>

    {{ include('diary3/_form.html.twig') }}

    <a href="{{ path('app_diary3_index') }}">back to list</a>
{% endblock %}
